// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jquery_form_error_message{
  display: block;
  margin-top: 3px;
  color: #f00;
}